@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');

.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 185px;
    height: 700px;
    left: 0.7%;
    top: 1.5%;   
    bottom: 0;
}
a{
    text-decoration: none;
    color: #3C3838;
}
.prof{
    align-content: center;
    padding-top: 160px;
    left: 0%;
}
.elements{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: #3C3838;

    align-content: center;
    justify-content: space-between;
    padding-top: 60px;
}
#elm{
    padding-top: 10px;
}

#profpic{
    position: relative;
    max-width: 20%;
    width: 20%;
    height: auto;
    left: 74%;
    padding-top: 160px;
}

#yellow{
    width: 215.44px;
    height: 203.83px;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 100px solid;
    border-bottom-color: linear-gradient(180deg, #EDE099 0%, 
    rgba(237, 224, 153, 0.7) 38.12%, 
    rgba(196, 196, 196, 0) 100%);
    /*background: linear-gradient(180deg, #EDE099 0%, 
    rgba(237, 224, 153, 0.7) 38.12%, 
    rgba(196, 196, 196, 0) 100%);*/
    border-radius: 4px;
    transform: rotate(65deg);
}