@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');

.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 185px;
    height: 100%;
    left: 0.7%;
    top: 1.5%;   
    bottom: 0;
}
a{
    text-decoration: none;
    color: #3C3838;
}
.prof{
    align-content: center;
    padding-top: 160px;
    left: 0%;
}
.elements{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: #3C3838;

    align-content: center;
    justify-content: space-between;
    padding-top: 60px;
}
#elm{
    padding-top: 10px;
}

#profpic{
    position: relative;
    max-width: 20%;
    width: 20%;
    height: auto;
    left: 76%;
    top: 40%;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 37px;
    font-weight: 500;
    color: #555157;

    position: relative;
    left: 240px;
    top: 30%;
}
.descrip{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #8A898B;
    letter-spacing: .02px;
    line-height: 25px;

    position: absolute;
    left: 240px;
    top: 40%;
}

#yellow{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 80px solid transparent;
    border-bottom: 100px solid rgba(237, 224, 153, 0.66);
    /*background: linear-gradient(180deg, #EDE099 0%, 
    rgba(237, 224, 153, 0.7) 38.12%, 
    rgba(196, 196, 196, 0) 100%);*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px;
}

#blue{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 80px solid transparent;
    border-bottom: 100px solid rgba(152, 202, 224, 0.58);
    border-radius: 5px;
}
.tricontainer{
    position: relative;
}
.triangle_y1{
    position: absolute;
    top: 430px;
    left: 460px;
    transform: rotate(65deg);
}

.triangle_y2{
    position: absolute;
    top: 150px;
    left: 740px;
    transform: rotate(-140deg);
}

.triangle_b1{
    position: absolute;
    top: 200px;
    left: 140px;
    transform: rotate(-26deg);
}

.triangle_b2{
    position: absolute;
    top: 60px;
    left: 1080px;
    transform: rotate(50deg);
}