@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 185px;
    height: 11600px;
    left: 0.7%;
    top: 1.5%;   
    bottom: 0;
}
a{
    text-decoration: none;
    color: #3C3838;
}
.prof{
    align-content: center;
    padding-top: 160px;
    left: 0%;
}
.elements{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: #3C3838;

    align-content: center;
    justify-content: space-between;
    padding-top: 60px;
}
#elm{
    padding-top: 10px;
}

/* HEADER */
.header{
    background: linear-gradient(96.83deg, #E09898 0%, 
    rgba(224, 152, 152, 0.38) 64.09%, rgba(224, 152, 152, 0.22) 100%);
    width: 75%;
    height: 60%;

    position: relative;
    left: 20%;
}
#head-img{
    align-content: center;
    position: absolute;
    left: 32%;
    top: 5%;
}
#head-title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .03px;
    color:white; 
    position: absolute;
    top: 60%;
    left: 30%;
}

h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .05px;
    color:white ; 
    position: absolute;
    left: 18%;
    top: 68%;
}

#time{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 17px; 
    font-weight: 500;
    letter-spacing: .1px;
    color:#898888;
    position: relative;
    top: 90%;
    left: -5%;
}
/* CONTENT titles and text */


#title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px; 
    font-weight: 700;
    letter-spacing: .1px;
    color: #4B484D; 
    position: relative;
    left: 5%;
    padding-top: 3%;
    
}
#text{
    width: 57%;
    font-family: 'Raleway';
    font-size: 15px; 
    font-weight: 500;
    line-height: 22px;
    color: #302E2E;
    position: relative;
    left: 28%;
}

i{
    color: #E09898;
}

.survey-imgs{
    display:flex;
    flex-direction: inline;
    position:relative;
    left: 28%;
}
.am-imgs{
   text-align: center;
   
}
#cr-img{
    text-align: center;
}

.gray{
    background-color: #F5F5F5; 
    width: 84.52%;
    height: 175%;
    position: absolute;
    left: 15.48%;
    top: 1004%;
}
.pal{
    position: relative;
    left: 26%;
}
.frame-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#content-row{
    width: 40%;
    color: #7B7A7A;
}
#title-row{
    position: relative;
    left: 60%;
    top: 30%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E09898;
}
#cen-img{
    position: relative;
    left:13%;
}

.figma-link{
    font-family: 'Raleway';
    font-size: 15px; 
    text-align: center;
    background-color: pink; 
    font-weight: 700;
    letter-spacing: 1.5px;
    position: relative;
    left: 47%;
    width: 20%;
    height: 9%;
    border-radius: 20px;
    color: white;
}