@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:400, 500, 700');

/* SIDE NAV */
.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 15%;
    height: 4650px;
    left: 0.7%;
    top: 1.5%;   
    bottom: 0;
    z-index: -1;
}
a{
    text-decoration: none;
    color: #3C3838;
}
.prof{
    align-content: center;
    padding-top: 160px;
    position: relative;
    left: -2%;
}
.elements{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: #3C3838;

    align-content: center;
    justify-content: space-between;
    padding-top: 60px;

    position: absolute;
    left: 5%;
    top: 45%;
    z-index: 1;
}
#elm{
    padding-top: 10px;
}

#header{
    position: relative;
    left: 24%;
}
.intro{
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    letter-spacing: .03px;
    font-size: 14px;
    font-weight: 500;
    color: #8A898B;

    position: relative;
    left: 20%;
    width: 80%;
}

h1{
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: 20%; 
}
.causeway{
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: 20%;
    color: #3C3838;
    font-size: 14px;
    width: 77%;
    line-height: 25px;
    
}

#centerimg{
    position: relative;
    left: 20%;
}