@import url("https://fonts.google.com/specimen/Roboto");
.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 70%;
    height: 98%;
    left: 0.7%;
    top: 1.5%;
}
.elements{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #3C3838;

    align-content: center;
    justify-content: space-around;
    padding-top: 300px;
}
