@import url('https://fonts.google.com/specimen/Roboto');
.navigation{
    background: rgba(246, 242, 242, 0.58);
    width: 186px;
    height: 1069px;
    left: 15px;
    top: 13px;
}
.elements{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    align-content: center;
   
    padding-top: 20%;

}
