@import url//fonts.google.com/specimen/Roboto);
.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 186px;
    height: 98%;
    left: 0.5%;
    top: 1.5%;
    font-family: 'Roboto';
}
.elements{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    align-content: center;
    padding-top: 300px;
}
