@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');
.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 185px;
    height: 1000px;
    left: 0.7%;
    top: 1.5%;   
    bottom: 0;
}
a{
    text-decoration: none;
    color: #3C3838;
}
.prof{
    align-content: center;
    padding-top: 160px;
    left: 0%;
}
.elements{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: #3C3838;

    align-content: center;
    justify-content: space-between;
    padding-top: 60px;
}
#elm{
    padding-top: 10px;
}
.head-intro{
    left: 20%;
}
.myname{
    padding-left: 240px;
    padding-top: 40px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    line-height: normal;
    font-size: 66px;
    letter-spacing: 0.01px;
    color: #000000;
}
.bio{
    padding-left: 240px;
    padding-top: 20px; 
    padding-right: 16%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: .03px;
    font-size: 18px;
    color: #8A898B;
}
#hello{
    font-size: 23px;
}

/*.primary{
    display:flex;
    flex-direction: row;
    position: relative;
    top: 65px;
}
.prect1{
    position: relative;
    background-color:#E09898;
    width: 113px;
    height: 21px;
    left: 23%;
    text-align: center;
}
.prect2{
    position: relative;
    background-color: #98CAE0;
    width: 113px;
    height: 21px;
    left: 39%;
}
.prect3{
    position: relative;
    background-color: #EDE099;
    width: 113px;
    height: 21px;
    left: 55%;
}

.purple{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 64px;
}
.rect1{
    position: relative;
    background-color: #D9CDDF;
    width: 113px;
    height: 21px;
    left: 21%;
    text-align: center;
}
.rect2{
    position: relative;
    background-color: #D9CDDF;
    width: 113px;
    height: 21px;
    left: 37%;
}
.rect3{
    position: relative;
    background-color: #D9CDDF;
    width: 113px;
    height: 21px;
    left: 53%;
}

.linkname{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02px;
}
a{
    color: #555157;
}
.lrect1{
    position: relative;
    left: 23%;
    text-align: center;
}
.lrect2{
    position: relative;
    left: 41%;
    text-align: center;
}
.lrect3{
    position: relative;
    left: 58%;
    text-align: center;
}
*/

.links{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40px;
}
.link1{
    position: relative;
    left: 29%;
}
.link2{
    position: relative;
    left: 44%;
}
.link3{
    position: relative;
    left: 59%;
}
.line{
    position: relative;
    left: 230px;
    top: 90px;
    width: 75%; 
    border: 1px solid #8A898B;
}

.proj1{
    position: relative;
    display:flex;
    flex-direction: row;
    top: 130px;
    left: 240px;
}
.content{
    display:flex;
    flex-direction: column;
}
#title{
    position: relative;
    padding-top: 30px;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: normal;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: #4C494E;
    left: 8%;
}

.flex-rectangle{
    position: relative;
    top: 40px;
    left: 10%;
    width: 250%;
    background: #E09898;
}
.flex-rectangle::before{
    content: "";
    display: block;
    padding-top: 30%;
}
#description{
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 23px;
    font-size: 100%;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    padding: 0px;
    left: 30%;
    top: -120px;
}

.more{
    position: relative;
    padding-top: 20px;
    display:flex;
    flex-direction: row;
    left: 30%;
    top: -90px;
}
#more_text{
    position: relative;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 80%;
    letter-spacing: 0.06em;
    color: #592A6F;
}
.image1{
    position:relative;
    left: 18%;
    top: 32px; 
}


.proj2{
    position: relative;
    display:flex;
    flex-direction: row;
    top: 190px;
    left: 240px;
}
.content2{
    display:flex;
    flex-direction: column;
}
#title2{
    position: relative;
    top: -20px;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: normal;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: #4C494E;
    left: 8%;
}
.flex-rectangle2{
    position: relative;
    top:20px;
    left: 10%;
    width: 250%;
    background:#AE7DC5;
}
.flex-rectangle2::before{
    content: "";
    display: block;
    padding-top: 30%;
}
#description2{
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 23px;
    font-size: 100%;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    padding: 0px;
    left: 30%;
    top: -130px;
}

.more2{
    position: relative;
    padding-top: 20px;
    display:flex;
    flex-direction: row;
    left: 30%;
    top: -110px;
}
#more_text2{
    position: relative;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 80%;
    letter-spacing: 0.06em;
    color: #592A6F;
}
.image2{
    position:relative;
    left: 18%;
    top: 0px; 
}
