@import url('https://fonts.google.com/specimen/Roboto');
.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 40%;
    height: 100%;
    left: 5%;
    top: 3%;
}
.elements{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    width: 61px;
    height: 40px;
    left: 78px;
    top: 322px;
}
