@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');
.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 185px;
    height: 98%;
    left: 0.7%;
    top: 1.5%;   
}
.prof{
    align-content: center; 
    padding-left: 6px;
    padding-top: 120px;
}
.elements{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: #3C3838;

    align-content: center;
    justify-content: space-between;
    padding-top: 80px;
}
#elm{
    padding-top: 10px;
}
.head-intro{
    left: 20%;
}
.myname{
    padding-left: 240px;
    padding-top: 40px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    line-height: normal;
    font-size: 64px;
    letter-spacing: 0.01px;
    color: #000000;
}
.bio{
    padding-left: 240px;
    padding-top: 20px; 
    padding-right: 16%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: .01px;
    font-size: 18px;
    color: #8A898B;
}

.primary{
    display:flex;
    flex-direction: row;
    position: relative;
    top: 85px;
}
.prect1{
    position: relative;
    background-color:#E09898;
    width: 113px;
    height: 21px;
    left: 25%;
    text-align: center;
}
.prect2{
    position: relative;
    background-color: #98CAE0;
    width: 113px;
    height: 21px;
    left: 39%;
}
.prect3{
    position: relative;
    background-color: #EDE099;
    width: 113px;
    height: 21px;
    left: 55%;
}

.purple{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 83px;
}
.rect1{
    position: relative;
    background-color: #D9CDDF;
    width: 113px;
    height: 21px;
    left: 22%;
    text-align: center;
}
.rect2{
    position: relative;
    background-color: #D9CDDF;
    width: 113px;
    height: 21px;
    left: 37%;
}
.rect3{
    position: relative;
    background-color: #D9CDDF;
    width: 113px;
    height: 21px;
    left: 52%;
}

.linkname{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 76px;
    color: #555157;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02px;
}
.lrect1{
    position: relative;
    left: 24%;
    text-align: center;
}
.lrect2{
    position: relative;
    left: 41%;
    text-align: center;
}
.lrect3{
    position: relative;
    left: 57%;
    text-align: center;
}
