@import url('https://fonts.google.com/specimen/Roboto');
.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 50%;
    height: 100%;
    left: 10%;
    top: 5%;

    .elements{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        text-align: center;
    
        width: 30%;
        height: 50%;
        left: 50%;
        top: 100%;
    }
}
