@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');
.navigation{
    background: rgba(246, 242, 242, 0.58);
    position: absolute;
    width: 185px;
    height: 98%;
    left: 0.7%;
    top: 1.5%;   
}
.prof{
    align-content: center; 
    padding-left: 6px;
    padding-top: 150px;
}
.elements{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #3C3838;

    align-content: center;
    justify-content: space-between;
    padding-top: 80px;
}
#elm{
    padding-top: 4px;
}
.head-intro{
}
.myname{
    padding-left: 200px;
    padding-top: 40px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    line-height: normal;
    font-size: 64px;
    letter-spacing: 0.01px;
    color: #000000;
}
.bio{
    padding-left: 200px;
    top: 150px; 
    padding-right: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: .01px;
    font-size: 25px;
    color: #8A898B;
}